<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<p>
  look-for-group works!
</p>


<h2 *ngIf="isVerified == false || isVerified === unfedined"> 
    Please login or verify email to see more details</h2>
 <div>   
<label>Filter Request by Game:</label>
        <select #fgame id="fgame">
            <option value="select">select</option>
            <option value="Destiny">Destiny</option>
            <option value="Diablo 3">Diablo 3</option>
            <option value="Left 4 Dead 2">Left 4 Dead 2</option>
            <option value="World of Warcraft">World of Warcraft</option>
        </select>
<button (click)="filtergame(fgame.value)">Filter by Game Now</button><br><br>
<label>Filter Request by Platform: </label>
            <select #fplatform id="fplatform">
                    <option value="select">select</option>
                    <option value="PS3">PS3</option>
                    <option value="PC">PC</option>
                    <option value="XBOX">Xbox</option>
                    <option value="XB1">XB1</option>
                    <option value="PS4">PS4</option>
            </select>
<button (click)="filterplatform(fplatform.value)">Filter by Platform Now</button><br><br>
<p *ngIf="isLoggedIn == true">
<label>Fileter Request by Preferred Date and Time: </label>
<input class="form-control" type="datetime-local" #ftime id="ftime"><br>
<button (click)="filtertime(ftime.value)">Filter by Date/Time Now</button>

<button (click)="combination(fgame.value,fplatform.value,ftime.value)">Combination Filter</button></p>
</div>
<br><br>
<div *ngIf="filtered==false">
<div *ngFor="let message of lookForGroup | async">
    
    <div *ngIf="(message.starttime| date:'MM/dd/yy hh:mm a') >( time| date:'MM/dd/yy hh:mm a')">
    Date Posted: {{message.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{message.gamStus}} <br>
    Platform:  {{message.PlatformStus}} <br>
    Type of Team:  {{message.type}} <br>
    Match or Event:  {{message.match}} <br>
    Start Time:  {{message.starttime}} <br>
    Duration:  {{message.min}} mins <br>
    Description:  {{message.description}} <br>
    <p *ngIf="isVerified == true">Contact:  {{message.email}}</p>
    </div>
</div>
</div>

<div *ngIf="filtered==true&&fcomb==false">
<div *ngFor="let message of filteredResult | async">
    
    <div *ngIf="(message.starttime| date:'MM/dd/yy hh:mm a') >( time| date:'MM/dd/yy hh:mm a')">
    Date Posted: {{message.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{message.gamStus}} <br>
    Platform:  {{message.PlatformStus}} <br>
    Type of Team:  {{message.type}} <br>
    Match or Event:  {{message.match}} <br>
    Start Time:  {{message.starttime}} <br>
    Duration:  {{message.min}} mins <br>
    Description:  {{message.description}} <br>
    <p *ngIf="isVerified == true">Contact:  {{message.email}}</p>
    </div>
</div>
</div>
<div *ngIf="filtered==true&&fcomb==true">
<div *ngFor="let message of result ">
    
    <div *ngIf="(message.starttime| date:'MM/dd/yy hh:mm a') >( time| date:'MM/dd/yy hh:mm a')">
    Date Posted: {{message.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{message.gamStus}} <br>
    Platform:  {{message.PlatformStus}} <br>
    Type of Team:  {{message.type}} <br>
    Match or Event:  {{message.match}} <br>
    Start Time:  {{message.starttime}} <br>
    Duration:  {{message.min}} mins <br>
    Description:  {{message.description}} <br>
    <p *ngIf="isVerified == true">Contact:  {{message.email}}</p>
    </div>
</div>
</div>

<div *ngIf="isVerified == true && isLoggedIn === true">
    <h3>
        <a routerLink="/repost">View Your own Post</a>
    </h3>

</div>

    
<div *ngIf="isVerified == true && isLoggedIn === true">    
    Select Game:
         <select class="form-control" #games >
              <option>Destiny</option>
              <option>Diablo 3</option>
              <option>Left 4 Dead 2</option>
              <option>World of Warcraft</option>
        </select><br>
    Select Platform:
         <select class="form-control" #platforms >
              <option>PC</option>
              <option>PS3</option>
              <option>PS4</option>
              <option>XBOX</option>
              <option>XB1</option>
        </select><br>
    Type of Team:
         <select class="form-control" #type >
              <option>One-Time</option>
              <option>Official</option>
        </select><br>
   Match or Event:
         <select class="form-control" #match >
              <option>Match</option>
              <option>Event</option>
        </select><br>
    Start Date and Time: 
          <input class="form-control" type="datetime-local" #starttime><br>
    Duration:
        <input class="form-control" type=numbers #min>Minute(s)<br>
    Description: 
        <textarea class="form-control" type="textarea" #newmessage 
            placeholder="Please enter your contact information and a short description of your requirements">
        </textarea>
        <br>

    <button type="submit" (click)="post(games.value,platforms.value,
    type.value, match.value, starttime.value, min.value, newmessage.value, 
        loginService.email)">Post!</button>
</div>
<app-com></app-com>