<p>
  register works!
</p>
<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>
<!--
<div class="modal-dialog">
  <div class="registermodal-container">
    <h1>Register</h1><br>
    <form class="form-signin" (submit)="register($event, name.value, email.value, password.value)">
      <label for="name" class="sr-only">Name</label>
      <input #name type="text" id="name" class="form-control" placeholder="Name" required="">
      <label for="email" class="sr-only">Email address</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <br>
      <button  class="btn btn-md btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
-->
<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    
    <label for="name">Name</label>
    <input type="text" placeholder="Enter your name" (ngModel)="name" name="name" class="txt" required>
    
    <label for="name">Email</label>
    <input type="text" placeholder="Enter your email" (ngModel)="email" name="email" class="txt" required>

    <label for="name">Password</label>
    <input type="password" placeholder="At least 6 characters" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
</form>
