<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<p>
   login works!
</p>




<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <form class="form-signin" (submit)="loginWithEmail($event, email.value, password.value)">
      <label for="email" class="sr-only">Email address</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email address">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="Password" required="">
      <br>
      <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <hr>
    <button class="login loginmodal-submit" (click)="loginWithGoogle()">Login With Google</button>
    <hr>
    <a [routerLink]="['/register']" style="cursor: pointer;">Register Now</a>
    <button type="button" class="btn btn-default" (click)="resetPassword(email.value)">
      Forget your password?
     </button>
  </div>
</div>


   
   
<app-com></app-com>