<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<div *ngIf="isVerified == true && isLoggedIn === true">
    <ul>Player IDs on PC
    <div *ngFor="let item of pc">
        {{item}}
    </div>
    </ul>
    <ul>Player IDs on PS3
    <div *ngFor="let item of ps3">
        {{item}}
    </div>
    </ul>
    <ul>Player IDs on PS4
    <div *ngFor="let item of ps4">
        {{item}}
    </div>
    </ul>
    <ul>Player IDs on XBox
    <div *ngFor="let item of xbox">
        {{item}}
    </div>
    </ul>
    <ul>Player IDs on XB1
    <div *ngFor="let item of xb1">
        {{item}}
    </div>
    </ul>
</div>

<p>
  Diablo III is a hack and slash action role-playing video game 
  developed and published by Blizzard Entertainment.
</p>
<h2 *ngIf="isVerified == false || isVerified === unfedined"> 
    Please login or verify email to see more details</h2>
<h4 *ngIf="isVerified == true && isLoggedIn === true">
    <ul>PlayList:
    <li *ngFor="let item of playList"> {{ item }} </li>
    </ul>
</h4>
Press button to add this game to your playlist
<button type="button" class="btn btn-default" (click)="addGame()">Add</button>