<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<p>
  repost works!
</p>
<div *ngIf="isVerified == true && isLoggedIn === true">

    <div *ngFor="let message of lookForGroup | async">

    <div *ngIf="message.email==loginService.email">
    Date Posted: {{message.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:
         <select class="form-control"  [value]="message.gamStus" #games >
              <option>Destiny</option>
              <option>Diablo 3</option>
              <option>Left 4 Dead 2</option>
              <option>World of Warcraft</option>
        </select><br>
    Select Platform:
         <select class="form-control" [value]="message.PlatformStus"#platforms >
              <option>PC</option>
              <option>PS3</option>
              <option>PS4</option>
              <option>XBOX</option>
              <option>XB1</option>
        </select><br>
    Type of Team:
         <select class="form-control" [value]="message.type"#type >
              <option>One-Time</option>
              <option>Official</option>
        </select><br>
   Match or Event:
         <select class="form-control" [value]="message.match"#match >
              <option>Match</option>
              <option>Event</option>
        </select><br>
    Start Date and Time: 
          <input class="form-control" type="datetime-local" [value]="message.starttime"#starttime><br>
    Duration:
        <input class="form-control" type=numbers [value]="message.min"#min>Minute(s)<br>
    Description: 
        <textarea class="form-control" type="textarea" #newmessage 
            [value]="message.description">
        </textarea>
        <br>
    <p *ngIf="isVerified == true">Contact:  {{message.email}}</p>
    <button type="submit" (click)="update(message.$key,games.value,platforms.value,
    type.value, match.value, starttime.value, min.value, newmessage.value, 
        loginService.email)">Update</button>
    <button type="submit" (click)="delete(message.$key)">Delete</button>
    </div>
    </div>
</div>