
<app-header></app-header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <button (click)="logout()">Logout</button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p>Welcome: {{loginService.displayName }}</p>
        <p *ngIf="isVerified == false">Please verify email</p>
      </ul>
    </div>
  </div>
</nav>
<a *ngIf="isVerified == true" routerLink="/profile">profile</a>


<router-outlet></router-outlet>