<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<p>
  frontpage works!
</p>
   
   
<app-com></app-com>