<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>

<p>
  games works!
</p>
<ul>
    Four Games are supported in this website:
  <li class="text" *ngFor="let game of games | async">
    <p>Game: {{game.name}}</p><br>
    
    <img src="{{game.image}}" ><br>
    <a *ngIf="(game.name)=='Destiny'" routerLink="/destiny">Cilck here see more details<br></a>
    <a *ngIf="(game.name)=='Diablo 3'" routerLink="/diablo3">Cilck here see more details<br></a>
    <a *ngIf="(game.name)=='Left 4 Dead 2'" routerLink="/left4dead2">Cilck here see more details<br></a>
    <a *ngIf="(game.name)=='World of Warcraft'" routerLink="/worldofwarcraft">Cilck here see more details<br></a>
    <p>Platforms: {{game.Platforms}}</p><br>
    <p>Characters: {{game.characters}}</p> <br>
    
    <p *ngIf="(game.name)=='Destiny'">{{destinyCnt.length}} users play Destiny </p>
    <p *ngIf="(game.name)=='Diablo 3'">{{diablo3Cnt.length}} users play Diablo 3 </p>
    <p *ngIf="(game.name)=='Left 4 Dead 2'">{{left4dead2Cnt.length}} users play Left 4 Dead 2 </p>
    <p *ngIf="(game.name)=='World of Warcraft'">{{worldofwarcraftCnt.length}} users play World of Warcraft </p>
  </li>
  
</ul>