<nav>
     <a routerLink="/">Home</a>
     <a routerLink="/login">login/out</a>
     <a routerLink="/lookforgroup">lookforgroup</a>
     <a routerLink="/games">games</a>
     <router-outlet></router-outlet>
</nav>


<p>
  profile works!
</p>

<h2>Upload a File</h2>
  <form ngNoForm>
    <input id="file" name="file" type="file" >
    <button (click)="upload()" type="button">Upload Image</button>
    </form>
    
    <img *ngIf="isImg != true" style="width:100px;height:100px;"
        src="https://firebasestorage.googleapis.com/v0/b/proj-ed9c1.appspot.com/o/default.png?alt=media&token=e78bb896-810b-43c0-819b-e69d8106e4ce" >
    <img *ngIf="isImg == true" src="{{imgUrl}}" style="width:100px;height:100px;">

<ul>
    <li>Age:<input #age type="number" name="age" id="age" value="" min="1" max="110"></li>
    <li>Player id for PC:<input #idPC type="text" name="idpc" id="idPC" value=""></li>
    <li>Player id for PS3:<input #idPS3 type="text" name="idps3" id="idPS3" value=""></li>
    <li>Player id for PS4:<input #idPS4 type="text" name="idps4" id="idPS4" value=""></li>
    <li>Player id for XBox:<input #idXBox type="text" name="idxbox" id="idXBox" value=""></li>
    <li>Player id for XB1:<input #idXB1 type="text" name="idxb1" id="idXB1" value=""></li>
    
    <li>
        <div class="form-group">
            <label for="playtimes">playtimes (weekdays) :</label>
            <div *ngFor="let playtime of playtimes; let i = index">
                <label>
                    <input type="checkbox"
                           name="playtimes"
                           value="{{playtime}}"
                           [checked]="playtimes.indexOf(playtime) >= 0"
                           (change)="updateCheckedPlaytimesWeekdays(playtime,playtimeWeekdays, $event)"/>
                    {{playtime}}
                    
                </label>
            </div>
            
        </div>
        
    </li>
    <li>
        <div class="form-group">
            <label for="playtimes">playtimes (weekends) :</label>
            <div *ngFor="let playtime of playtimes; let i = index">
                <label>
                    <input type="checkbox"
                           name="playtimes"
                           value="{{playtime}}"
                           [checked]="playtimes.indexOf(playtime) >= 0"
                           (change)="updateCheckedPlaytimesWeekdays(playtime,playtimeWeekends, $event)"/>
                    {{playtime}}
                    
                </label>
            </div>
        </div>
    </li>
    
    <li>
        <div class="form-group">
            <label for="timezones">timezones (weekdays) :</label>
            <div *ngFor="let timezone of timezones; let i = index">
                <label>
                    <input type="checkbox"
                           name="timezones"
                           value="{{timezone}}"
                           [checked]="timezones.indexOf(timezone) >= 0"
                           (change)="TimezoneWeekdays(timezone,timezoneWeekdays,$event)"/>
                    {{timezone}}
                    
                </label>
            </div>
        </div>
    </li>
    
    <li>
        <div class="form-group">
            <label for="timezones">timezones (weekends) :</label>
            <div *ngFor="let timezone of timezones; let i = index">
                <label>
                    <input type="checkbox"
                           name="timezones"
                           value="{{timezone}}"
                           [checked]="timezones.indexOf(timezone) >= 0"
                           (change)="TimezoneWeekends(timezone,timezoneWeekends,$event)"/>
                    {{timezone}}
                    
                </label>
            </div>
        </div>
    </li>
    
    
    <li>
        <div class="form-group">
            <label for="microphones">Select if you can use microphone for each platform :</label>
            <div *ngFor="let microphone of microphones; let i = index">
                <label>
                    <input type="checkbox"
                           name="microphones"
                           value="{{microphone}}"
                           [checked]="microphones.indexOf(microphone) >= 0"
                           (change)="MicrophoneStus(microphone,microphoneStus,$event)"/>
                    {{microphone}}
                    
                </label>
            </div>
        </div>
    </li>
    
    
     <li>
        <div class="form-group">
            <label for="pcgames">Select games you are playing on PC :</label>
            <div *ngFor="let pcgame of pcgames; let i = index">
                <label>
                    <input type="checkbox"
                           name="pcgames"
                           value="{{pcgame}}"
                           [checked]="pcgames.indexOf(pcgame) >= 0"
                           (change)="PcgameStus(pcgame,pcgameStus,$event)"/>
                    {{pcgame}}
                    
                </label>
            </div>
        </div>
    </li>
    
    <li>
        <div class="form-group">
            <label for="ps3games">Select games you are playing on PS3 :</label>
            <div *ngFor="let ps3game of ps3games; let i = index">
                <label>
                    <input type="checkbox"
                           name="ps3games"
                           value="{{ps3game}}"
                           [checked]="ps3games.indexOf(ps3game) >= 0"
                           (change)="Ps3gameStus(ps3game,ps3gameStus,$event)"/>
                    {{ps3game}}
                    
                </label>
            </div>
        </div>
    </li>
    
    <li>
        <div class="form-group">
            <label for="ps4games">Select games you are playing on PS4 :</label>
            <div *ngFor="let ps4game of ps4games; let i = index">
                <label>
                    <input type="checkbox"
                           name="ps4games"
                           value="{{ps4game}}"
                           [checked]="ps4games.indexOf(ps4game) >= 0"
                           (change)="Ps3gameStus(ps4game,ps4gameStus,$event)"/>
                    {{ps4game}}
                    
                </label>
            </div>
        </div>
    </li>
    
    <li>
        <div class="form-group">
            <label for="xboxgames">Select games you are playing on XBox :</label>
            <div *ngFor="let xboxgame of xboxgames; let i = index">
                <label>
                    <input type="checkbox"
                           name="xboxgames"
                           value="{{xboxgame}}"
                           [checked]="xboxgames.indexOf(xboxgame) >= 0"
                           (change)="XboxgameStus(xboxgame,xboxgameStus,$event)"/>
                    {{xboxgame}}
                    
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="xb1games">Select games you are playing on XB1 :</label>
            <div *ngFor="let xb1game of xb1games; let i = index">
                <label>
                    <input type="checkbox"
                           name="xb1games"
                           value="{{xb1game}}"
                           [checked]="xb1games.indexOf(xb1game) >= 0"
                           (change)="Xb1gameStus(xb1game,xb1gameStus,$event)"/>
                    {{xb1game}}
                    
                </label>
            </div>
        </div>
    </li>
    
    
    
    <li>Select your game style for Destiny :
         <select class="form-control" #destinyplaystyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select>
    </li>
    <li>Select your game style for Diablo3 :
         <select class="form-control" #diablo3playstyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select>
    </li>
        <li>Select your game style for Left 4 Dead 2 :
         <select class="form-control" #left4dead2playstyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select>
    </li>
    <li>Select your game style for World of Warcraft :
         <select class="form-control" #worldofwarcraftplaystyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select>
    </li>
    
    
    <li>
        <div class="form-group">
            <label for="destinycharacters">Select characters you are playing in Destiny :</label>
            <div *ngFor="let destinycharacter of destinycharacters; let i = index">
                <label>
                    <input type="checkbox"
                           name="destinycharacter"
                           value="{{destinycharacter}}"
                           [checked]="destinycharacters.indexOf(destinycharacter) >= 0"
                           (change)=
                            "DestinycharacterStus(destinycharacter,destinycharacterStus,$event)"/>
                    {{destinycharacter}}
                    
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="diablo3characters">Select characters you are playing in Disblo 3 :</label>
            <div *ngFor="let diablo3character of diablo3characters; let i = index">
                <label>
                    <input type="checkbox"
                           name="diablo3character"
                           value="{{diablo3character}}"
                           [checked]="diablo3characters.indexOf(diablo3character) >= 0"
                           (change)=
                            "Diablo3characterStus(diablo3character,diablo3characterStus,$event)"/>
                    {{diablo3character}}
                    
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="left4dead2characters">Select characters you are playing in Left 4 Dead 2 :</label>
            <div *ngFor="let left4dead2character of left4dead2characters; let i = index">
                <label>
                    <input type="checkbox"
                           name="left4dead2character"
                           value="{{left4dead2character}}"
                           [checked]="left4dead2characters.indexOf(left4dead2character) >= 0"
                           (change)=
                            "Left4Dead2characterStus(left4dead2character,left4dead2characterStus,$event)"/>
                    {{left4dead2character}}
                    
                </label>
            </div>
        </div>
    </li>
     <li>
        <div class="form-group">
            <label for="worldofwarcraftcharacters">Select characters you are playing in World of Warcraft :</label>
            <div *ngFor="let worldofwarcraftcharacter of worldofwarcraftcharacters; let i = index">
                <label>
                    <input type="checkbox"
                           name="worldofwarcraftcharacter"
                           value="{{worldofwarcraftcharacter}}"
                           [checked]="worldofwarcraftcharacters.indexOf(worldofwarcraftcharacter) >= 0"
                           (change)=
                            "WorldofWarcraftcharacterStus(worldofwarcraftcharacter,worldofwarcraftcharacterStus,$event)"/>
                    {{worldofwarcraftcharacter}}
                    
                </label>
            </div>
        </div>
    </li>
    
    
    <li>
    <button type="button" class="btn btn-default" 
        (click)="sendProfile(age.value,
            idPC.value,idPS3.value,idPS4.value,idXBox.value,idXB1.value,
            playtimeWeekdays,  playtimeWeekends,timezoneWeekdays,timezoneWeekends,
            microphoneStus,pcgameStus,ps3gameStus,ps4gameStus,xboxgameStus,xb1gameStus,
            destinyplaystyle.value,diablo3playstyle.value,left4dead2playstyle.value,
            worldofwarcraftplaystyle.value,destinycharacterStus,diablo3characterStus,
            left4dead2characterStus,worldofwarcraftcharacterStus,imgUrl,loginService.email
            )">
            submit
    </button>
    </li>
</ul>
